.container {
  margin: auto 0;
}
.body {
  width: 70%;
  max-width: 75ch;
  margin: 0 auto;
  position: relative;
}
.content {
  margin-top: 100px;
}
.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}
