.container {
  margin: auto 0;
  position: relative;
  top: 90px;
  /* padding-block-end: 100px; */
}

.body {
  width: 70%;
  max-width: 75ch;
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  position: relative;
  padding-block-end: 100px;
}

@media screen and (max-width: 800px) {
  .container {
    top: 40px;
  }
  .body{
    width: 85%;
  }
}