.post {
  margin: 20px;
  padding: 10px;
  border: solid 3px var(--color);
  background-color: var(--bg-color);
}
.span {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.tags {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}
