.post {
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--bg-color);
  color: var(--color);
  box-shadow: 10px 5px 20px #dadada, -10px -5px 20px #ffffff;
}
/* 深色模式 */
@media (prefers-color-scheme: dark) {
  .post {
    box-shadow: none;
    border: 2px solid #dadada;
  }
}

.span {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.tags {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}
