/* @font-face {
  font-family: Smiley sans;
  src: url("");
} */

:root[mode="dark"] {
  --bg-color: #1d1d1d;
  --color: rgb(220, 220, 220);
  --selection-bg: #d3d3d3;
  --selection-color: #242424;
}
:root,
:root[mode="light"] {
  --bg-color: #fff;
  --color: #1d1d1d;
  --selection-bg: #242424;
  --selection-color: #d3d3d3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", "Smiley Sans Oblique";
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--color);
  transition: all 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}
