.home {
  display: flex;
  flex-direction: column;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  margin-block: 2rem;
}
.intro > span {
  text-align: left;
  font-size: 40px;
  font-family: "Afacad Flux";
  /* font-family: "Noto Serif SC"; */
  font-weight: 900;
}
.intro > p {
  width: 100%;
  font-size: 35px;
  text-align: left;
  font-size: 16px;
  margin: 0;
  font-family: "Lato";
}
.posts {
  flex: 4 4;
  font-family: "Lato";
}
.img {
  -webkit-user-drag: none;
}
.sectionTitle {
  display: flex;
  align-items: center;
  position: relative;
  left: 10px;
}
.sectionTitle::before {
  content: " ";
  display: block;
  height: 16px;
  width: 2px;
  border-radius: 10px;
  background-color: var(--color);
  margin-bottom: 10px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.projectContainer {
  width: 100%;
  display: flex;
}

.projectCard {
  width: 100%;
  height: 240px;
  display: flex;
  padding: 20px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.25s;
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 1.5px 1.1px 0.5px rgba(0, 0, 0, 0.011), 3.1px 2.2px 2.1px rgba(0, 0, 0, 0.013),
    4.9px 3.6px 5.2px rgba(0, 0, 0, 0.015), 7.2px 5.3px 10.2px rgba(0, 0, 0, 0.016),
    10.1px 7.4px 18px rgba(0, 0, 0, 0.018), 14.1px 10.4px 30.4px rgba(0, 0, 0, 0.021);
}
.projectCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.5) blur(1px);
  transition: all 0.25s;
}
.projectCard:hover {
  border: 1px solid var(--border-color);
}
.projectCard:hover img {
  filter: brightness(1);
}

.projectCardDescription {
  font-size: 16px;
}
.projectCardTitle {
  font-size: 24px;
}
.projectInfo {
  max-width: calc(100% - 20px);
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: Smiley sans;
  transition: all 0.5s;
  color: white;
}
.projectCard:hover .projectInfo {
  opacity: 0;
  bottom: 0%;
}
.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.25s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.projectHideTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;

  mask-image: url("https://zhuxb-oss.oss-cn-hangzhou.aliyuncs.com/hrsrive/mask.png");
  /* mask-composite: exclude; */
  mask-position: 87% 27%;
  mask-size: 116%;
  /* visibility: hidden; */
  display: none;
  
}
.projectHideTitle > span {
  font-size: 200px;
  font-family: "Noto Serif SC";
  font-weight: 900;
  /* 字间距 */
  letter-spacing: 0.25em;
  color: white;
  animation: slideInFade 0.25s ease-in forwards; /* 1秒的淡入动画，缓出效果 */
  opacity: 0;
}
.projectHideTitle > span:nth-child(1) {
  animation-delay: 0.1s;
}
.projectHideTitle > span:nth-child(2) {
  animation-delay: 0.15s;
}


.projectCard:hover .projectHideTitle {
  /* visibility: visible; */
  display: flex;

}

@keyframes slideInFade {
  from {
    transform: translateY(-10%); /* 从左边开始 */
    opacity: 0; /* 完全透明 */
  }
  to {
    transform: translateX(0); /* 到最终位置 */
    opacity: 1; /* 完全显示 */
  }
}
