.home {
  display: flex;
  flex-direction: column;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  margin-block: 2rem;
}
.intro > span {
  text-align: left;
  font-size: 40px;
  font-family: "Afacad Flux";
  /* font-family: "Noto Serif SC"; */
  font-weight: 900;
}
.intro > p {
  width: 100%;
  font-size: 35px;
  text-align: left;
  font-size: 16px;
  margin: 0;
  font-family: "Lato";
}
.posts {
  flex: 4 4;
  font-family: "Lato";
}
.me {
  transition: all 0.4s;
  background-color: #d92e8500;
  height: 100px;
  -webkit-user-drag: none;
  width: 80px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.img {
  -webkit-user-drag: none;
}
.sectionTitle {
  display: flex;
  align-items: center;
  position: relative;
  left: 10px;
}
.sectionTitle::before {
  content: " ";
  display: block;
  height: 16px;
  width: 2px;
  border-radius: 10px;
  background-color: var(--color);
  margin-bottom: 10px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
