.post {
  font-family: "Noto Sans SC";
  font-size: 20px;
  & > h1 {
    font-family: "Fontquan-XinYiJiXiangSong", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
  }
}
h1 {
  font-family: "Noto Serif SC";
  font-size: 2em;
}
/* code 下划线 */
code {
  font-family: "Lora";
  font-style: italic;
  position: relative;
  font-weight: 700;
  z-index: 1;
  margin: 0 0.25rem;
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--code-after-color);
    border-radius: 5px;
    position: absolute;
    top: 85%;
    left: 0%;
    z-index: -1;
  }
}
/* 代码块 */
pre > code::after {
  display: none;
}
pre > code::selection,
span.token::selection {
  background-color: #d3d3d3;
  color: #000;
}
/* 文字段落首行缩进 */
p {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  margin: 1em 0;
  text-indent: 2em;
  text-wrap: pretty;
  & > img {
    width: 100%;
  }
}
/* 消除文字段落首行缩进副作用 */
p:has(img),
li > p {
  text-indent: 0;
}
/* 有序/无序 列表 */
article > ol > li,
article > ul > li {
  margin: 1em 0;
}
li > p {
  margin: 0.25em;
}
ol {
  padding-inline-start: 1em;
  font-size: 1.05em;
}
/* 引用 */
blockquote {
  position: relative;
  font-family: "Noto Serif SC";
  background-color: var(--blockquote-background-color);
  border-radius: 8px;
  padding: 2px 10px;
  
  p{
    text-indent: 0;
    text-wrap: balance;
    font-size: revert;
  }
  & > p:has(strong) {
    opacity: 0.8;
    text-align: center;
  }
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    background: var(--blockquote-bar-color);
    height: 100%;
    top: 0;
    left: -16px;
    border-radius: 
    calc(infinity * 1px);
  }
}
/* 表格 */
table {
  width: 100%;
  border: var(--color) 2px solid;
}
th {
  text-align: left;
}
th,
td {
  padding: 10px;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #232323;
}
.post {
  .token.string {
    color: #9fffd2;
  }
  .token.keyword {
    color: #6ffffd;
  }
  .token.function {
    color: #76c6ff;
  }
  .token.builtin,
  .token.selector {
    color: #8091ff;
  }

  .token.attr-name {
    color: rgb(207, 219, 255);
  }

  .token.char,
  .token.inserted {
    color: #ea9fff;
  }
  .token.punctuation {
    color: #fff;
  }

  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #12ffeb;
  }
}

.post a:hover {
  color: #2045ff;
}
