/* `` */
code {
  background-color: rgba(143, 43, 237, 0.597);
  color: #fff;
  border-radius: 5px;
  font-family: Lora;
  padding: 0 5px;
}
/* 图片 */
p > img {
  width: 100%;
}

p {
  font-size: 20px;
}
/* 引用 */
blockquote {
  position: relative;
}
blockquote > p {
  opacity: 0.8;
}
blockquote::before {
  content: "";
  position: absolute;
  width: 5px;
  background: rgb(144, 144, 144);
  height: 100%;
  left: -40px;
}
/* 表格 */
table {
  width: 100%;
  border: var(--color) 2px solid;
}
th {
  text-align: left;
}
th,
td {
  padding: 10px;
}
