.post {
  font-family: "Noto Sans SC";
  font-size: 20px;
}
h1 {
  font-family: "Noto Serif SC";
}
code {
  font-family: "Lora";
  font-style: italic;
  position: relative;
  font-weight: 700;
  z-index: 1;
  margin: 0 0.25rem;
}
code::after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--code-after-color);
  border-radius: 5px;
  position: absolute;
  top: 85%;
  left: 0%;
  z-index: -1;
}
pre > code::after {
  display: none;
}
pre > code::selection,
span.token::selection {
  background-color: #d3d3d3;
  color: #000;
}
/* 图片 */
p > img {
  width: 100%;
}
p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-indent: 2em;
}
p:has(img) {
  text-indent: 0;
}
/* 引用 */
blockquote {
  position: relative;
  font-family: "Noto Serif SC";
}
blockquote > p {
  opacity: 0.8;
  text-align: center;
}
blockquote::before {
  content: "";
  position: absolute;
  width: 5px;
  background: rgb(144, 144, 144);
  height: 100%;
  left: -40px;
}
/* 表格 */
table {
  width: 100%;
  border: var(--color) 2px solid;
}
th {
  text-align: left;
}
th,
td {
  padding: 10px;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #232323;
}
.post {
  .token.string,
  .token.keyword {
    color: #ff4bc0;
  }
  .token.function,
  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector {
    color: #f38aff;
  }

  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #915eff;
  }
}

.post a:hover {
  color: #2045ff;
}
